i { 
    width: 16px; 
    height: 16px;
    display: inline-block;
    background-size: contain!important;
}

.fa.fa-500px { background: url('../../images/500px.svg') }
.fa.fa-address-book { background: url('../../images/address-book.svg') }
.fa.fa-address-book-o { background: url('../../images/address-book-o.svg') }
.fa.fa-address-card { background: url('../../images/address-card.svg') }
.fa.fa-address-card-o { background: url('../../images/address-card-o.svg') }
.fa.fa-adjust { background: url('../../images/adjust.svg') }
.fa.fa-adn { background: url('../../images/adn.svg') }
.fa.fa-align-center { background: url('../../images/align-center.svg') }
.fa.fa-align-justify { background: url('../../images/align-justify.svg') }
.fa.fa-align-left { background: url('../../images/align-left.svg') }
.fa.fa-align-right { background: url('../../images/align-right.svg') }
.fa.fa-amazon { background: url('../../images/amazon.svg') }
.fa.fa-ambulance { background: url('../../images/ambulance.svg') }
.fa.fa-american-sign-language-interpreting { background: url('../../images/american-sign-language-interpreting.svg') }
.fa.fa-anchor { background: url('../../images/anchor.svg') }
.fa.fa-android { background: url('../../images/android.svg') }
.fa.fa-angellist { background: url('../../images/angellist.svg') }
.fa.fa-angle-double-down { background: url('../../images/angle-double-down.svg') }
.fa.fa-angle-double-left { background: url('../../images/angle-double-left.svg') }
.fa.fa-angle-double-right { background: url('../../images/angle-double-right.svg') }
.fa.fa-angle-double-up { background: url('../../images/angle-double-up.svg') }
.fa.fa-angle-down { background: url('../../images/angle-down.svg') }
.fa.fa-angle-left { background: url('../../images/angle-left.svg') }
.fa.fa-angle-right { background: url('../../images/angle-right.svg') }
.fa.fa-angle-up { background: url('../../images/angle-up.svg') }
.fa.fa-apple { background: url('../../images/apple.svg') }
.fa.fa-archive { background: url('../../images/archive.svg') }
.fa.fa-area-chart { background: url('../../images/area-chart.svg') }
.fa.fa-arrow-circle-down { background: url('../../images/arrow-circle-down.svg') }
.fa.fa-arrow-circle-left { background: url('../../images/arrow-circle-left.svg') }
.fa.fa-arrow-circle-o-down { background: url('../../images/arrow-circle-o-down.svg') }
.fa.fa-arrow-circle-o-left { background: url('../../images/arrow-circle-o-left.svg') }
.fa.fa-arrow-circle-o-right { background: url('../../images/arrow-circle-o-right.svg') }
.fa.fa-arrow-circle-o-up { background: url('../../images/arrow-circle-o-up.svg') }
.fa.fa-arrow-circle-right { background: url('../../images/arrow-circle-right.svg') }
.fa.fa-arrow-circle-up { background: url('../../images/arrow-circle-up.svg') }
.fa.fa-arrow-down { background: url('../../images/arrow-down.svg') }
.fa.fa-arrow-left { background: url('../../images/arrow-left.svg') }
.fa.fa-arrow-right { background: url('../../images/arrow-right.svg') }
.fa.fa-arrow-up { background: url('../../images/arrow-up.svg') }
.fa.fa-arrows { background: url('../../images/arrows.svg') }
.fa.fa-arrows-alt { background: url('../../images/arrows-alt.svg') }
.fa.fa-arrows-h { background: url('../../images/arrows-h.svg') }
.fa.fa-arrows-v { background: url('../../images/arrows-v.svg') }
.fa.fa-asl-interpreting { background: url('../../images/asl-interpreting.svg') }
.fa.fa-assistive-listening-systems { background: url('../../images/assistive-listening-systems.svg') }
.fa.fa-asterisk { background: url('../../images/asterisk.svg') }
.fa.fa-at { background: url('../../images/at.svg') }
.fa.fa-audio-description { background: url('../../images/audio-description.svg') }
.fa.fa-automobile { background: url('../../images/automobile.svg') }
.fa.fa-backward { background: url('../../images/backward.svg') }
.fa.fa-balance-scale { background: url('../../images/balance-scale.svg') }
.fa.fa-ban { background: url('../../images/ban.svg') }
.fa.fa-bandcamp { background: url('../../images/bandcamp.svg') }
.fa.fa-bank { background: url('../../images/bank.svg') }
.fa.fa-bar-chart { background: url('../../images/bar-chart.svg') }
.fa.fa-bar-chart-o { background: url('../../images/bar-chart-o.svg') }
.fa.fa-barcode { background: url('../../images/barcode.svg') }
.fa.fa-bars { background: url('../../images/bars.svg') }
.fa.fa-bath { background: url('../../images/bath.svg') }
.fa.fa-bathtub { background: url('../../images/bathtub.svg') }
.fa.fa-battery { background: url('../../images/battery.svg') }
.fa.fa-battery-0 { background: url('../../images/battery-0.svg') }
.fa.fa-battery-1 { background: url('../../images/battery-1.svg') }
.fa.fa-battery-2 { background: url('../../images/battery-2.svg') }
.fa.fa-battery-3 { background: url('../../images/battery-3.svg') }
.fa.fa-battery-4 { background: url('../../images/battery-4.svg') }
.fa.fa-battery-empty { background: url('../../images/battery-empty.svg') }
.fa.fa-battery-full { background: url('../../images/battery-full.svg') }
.fa.fa-battery-half { background: url('../../images/battery-half.svg') }
.fa.fa-battery-quarter { background: url('../../images/battery-quarter.svg') }
.fa.fa-battery-three-quarters { background: url('../../images/battery-three-quarters.svg') }
.fa.fa-bed { background: url('../../images/bed.svg') }
.fa.fa-beer { background: url('../../images/beer.svg') }
.fa.fa-behance { background: url('../../images/behance.svg') }
.fa.fa-behance-square { background: url('../../images/behance-square.svg') }
.fa.fa-bell { background: url('../../images/bell.svg') }
.fa.fa-bell-o { background: url('../../images/bell-o.svg') }
.fa.fa-bell-slash { background: url('../../images/bell-slash.svg') }
.fa.fa-bell-slash-o { background: url('../../images/bell-slash-o.svg') }
.fa.fa-bicycle { background: url('../../images/bicycle.svg') }
.fa.fa-binoculars { background: url('../../images/binoculars.svg') }
.fa.fa-birthday-cake { background: url('../../images/birthday-cake.svg') }
.fa.fa-bitbucket { background: url('../../images/bitbucket.svg') }
.fa.fa-bitbucket-square { background: url('../../images/bitbucket-square.svg') }
.fa.fa-bitcoin { background: url('../../images/bitcoin.svg') }
.fa.fa-black-tie { background: url('../../images/black-tie.svg') }
.fa.fa-blind { background: url('../../images/blind.svg') }
.fa.fa-bluetooth { background: url('../../images/bluetooth.svg') }
.fa.fa-bluetooth-b { background: url('../../images/bluetooth-b.svg') }
.fa.fa-bold { background: url('../../images/bold.svg') }
.fa.fa-bolt { background: url('../../images/bolt.svg') }
.fa.fa-bomb { background: url('../../images/bomb.svg') }
.fa.fa-book { background: url('../../images/book.svg') }
.fa.fa-bookmark { background: url('../../images/bookmark.svg') }
.fa.fa-bookmark-o { background: url('../../images/bookmark-o.svg') }
.fa.fa-braille { background: url('../../images/braille.svg') }
.fa.fa-briefcase { background: url('../../images/briefcase.svg') }
.fa.fa-btc { background: url('../../images/btc.svg') }
.fa.fa-bug { background: url('../../images/bug.svg') }
.fa.fa-building { background: url('../../images/building.svg') }
.fa.fa-building-o { background: url('../../images/building-o.svg') }
.fa.fa-bullhorn { background: url('../../images/bullhorn.svg') }
.fa.fa-bullseye { background: url('../../images/bullseye.svg') }
.fa.fa-bus { background: url('../../images/bus.svg') }
.fa.fa-buysellads { background: url('../../images/buysellads.svg') }
.fa.fa-cab { background: url('../../images/cab.svg') }
.fa.fa-calculator { background: url('../../images/calculator.svg') }
.fa.fa-calendar { background: url('../../images/calendar.svg') }
.fa.fa-calendar-check-o { background: url('../../images/calendar-check-o.svg') }
.fa.fa-calendar-minus-o { background: url('../../images/calendar-minus-o.svg') }
.fa.fa-calendar-o { background: url('../../images/calendar-o.svg') }
.fa.fa-calendar-plus-o { background: url('../../images/calendar-plus-o.svg') }
.fa.fa-calendar-times-o { background: url('../../images/calendar-times-o.svg') }
.fa.fa-camera { background: url('../../images/camera.svg') }
.fa.fa-camera-retro { background: url('../../images/camera-retro.svg') }
.fa.fa-car { background: url('../../images/car.svg') }
.fa.fa-caret-down { background: url('../../images/caret-down.svg') }
.fa.fa-caret-left { background: url('../../images/caret-left.svg') }
.fa.fa-caret-right { background: url('../../images/caret-right.svg') }
.fa.fa-caret-square-o-down { background: url('../../images/caret-square-o-down.svg') }
.fa.fa-caret-square-o-left { background: url('../../images/caret-square-o-left.svg') }
.fa.fa-caret-square-o-right { background: url('../../images/caret-square-o-right.svg') }
.fa.fa-caret-square-o-up { background: url('../../images/caret-square-o-up.svg') }
.fa.fa-caret-up { background: url('../../images/caret-up.svg') }
.fa.fa-cart-arrow-down { background: url('../../images/cart-arrow-down.svg') }
.fa.fa-cart-plus { background: url('../../images/cart-plus.svg') }
.fa.fa-cc { background: url('../../images/cc.svg') }
.fa.fa-cc-amex { background: url('../../images/cc-amex.svg') }
.fa.fa-cc-diners-club { background: url('../../images/cc-diners-club.svg') }
.fa.fa-cc-discover { background: url('../../images/cc-discover.svg') }
.fa.fa-cc-jcb { background: url('../../images/cc-jcb.svg') }
.fa.fa-cc-mastercard { background: url('../../images/cc-mastercard.svg') }
.fa.fa-cc-paypal { background: url('../../images/cc-paypal.svg') }
.fa.fa-cc-stripe { background: url('../../images/cc-stripe.svg') }
.fa.fa-cc-visa { background: url('../../images/cc-visa.svg') }
.fa.fa-certificate { background: url('../../images/certificate.svg') }
.fa.fa-chain { background: url('../../images/chain.svg') }
.fa.fa-chain-broken { background: url('../../images/chain-broken.svg') }
.fa.fa-check { background: url('../../images/check.svg') }
.fa.fa-check-circle { background: url('../../images/check-circle.svg') }
.fa.fa-check-circle-o { background: url('../../images/check-circle-o.svg') }
.fa.fa-check-square { background: url('../../images/check-square.svg') }
.fa.fa-check-square-o { background: url('../../images/check-square-o.svg') }
.fa.fa-chevron-circle-down { background: url('../../images/chevron-circle-down.svg') }
.fa.fa-chevron-circle-left { background: url('../../images/chevron-circle-left.svg') }
.fa.fa-chevron-circle-right { background: url('../../images/chevron-circle-right.svg') }
.fa.fa-chevron-circle-up { background: url('../../images/chevron-circle-up.svg') }
.fa.fa-chevron-down { background: url('../../images/chevron-down.svg') }
.fa.fa-chevron-left { background: url('../../images/chevron-left.svg') }
.fa.fa-chevron-right { background: url('../../images/chevron-right.svg') }
.fa.fa-chevron-up { background: url('../../images/chevron-up.svg') }
.fa.fa-child { background: url('../../images/child.svg') }
.fa.fa-chrome { background: url('../../images/chrome.svg') }
.fa.fa-circle { background: url('../../images/circle.svg') }
.fa.fa-circle-o { background: url('../../images/circle-o.svg') }
.fa.fa-circle-o-notch { background: url('../../images/circle-o-notch.svg') }
.fa.fa-circle-thin { background: url('../../images/circle-thin.svg') }
.fa.fa-clipboard { background: url('../../images/clipboard.svg') }
.fa.fa-clock-o { background: url('../../images/clock-o.svg') }
.fa.fa-clone { background: url('../../images/clone.svg') }
.fa.fa-close { background: url('../../images/close.svg') }
.fa.fa-cloud { background: url('../../images/cloud.svg') }
.fa.fa-cloud-download { background: url('../../images/cloud-download.svg') }
.fa.fa-cloud-upload { background: url('../../images/cloud-upload.svg') }
.fa.fa-cny { background: url('../../images/cny.svg') }
.fa.fa-code { background: url('../../images/code.svg') }
.fa.fa-code-fork { background: url('../../images/code-fork.svg') }
.fa.fa-codepen { background: url('../../images/codepen.svg') }
.fa.fa-codiepie { background: url('../../images/codiepie.svg') }
.fa.fa-coffee { background: url('../../images/coffee.svg') }
.fa.fa-cog { background: url('../../images/cog.svg') }
.fa.fa-cogs { background: url('../../images/cogs.svg') }
.fa.fa-columns { background: url('../../images/columns.svg') }
.fa.fa-comment { background: url('../../images/comment.svg') }
.fa.fa-comment-o { background: url('../../images/comment-o.svg') }
.fa.fa-commenting { background: url('../../images/commenting.svg') }
.fa.fa-commenting-o { background: url('../../images/commenting-o.svg') }
.fa.fa-comments { background: url('../../images/comments.svg') }
.fa.fa-comments-o { background: url('../../images/comments-o.svg') }
.fa.fa-compass { background: url('../../images/compass.svg') }
.fa.fa-compress { background: url('../../images/compress.svg') }
.fa.fa-connectdevelop { background: url('../../images/connectdevelop.svg') }
.fa.fa-contao { background: url('../../images/contao.svg') }
.fa.fa-copy { background: url('../../images/copy.svg') }
.fa.fa-copyright { background: url('../../images/copyright.svg') }
.fa.fa-creative-commons { background: url('../../images/creative-commons.svg') }
.fa.fa-credit-card { background: url('../../images/credit-card.svg') }
.fa.fa-credit-card-alt { background: url('../../images/credit-card-alt.svg') }
.fa.fa-crop { background: url('../../images/crop.svg') }
.fa.fa-crosshairs { background: url('../../images/crosshairs.svg') }
.fa.fa-css3 { background: url('../../images/css3.svg') }
.fa.fa-cube { background: url('../../images/cube.svg') }
.fa.fa-cubes { background: url('../../images/cubes.svg') }
.fa.fa-cut { background: url('../../images/cut.svg') }
.fa.fa-cutlery { background: url('../../images/cutlery.svg') }
.fa.fa-dashboard { background: url('../../images/dashboard.svg') }
.fa.fa-dashcube { background: url('../../images/dashcube.svg') }
.fa.fa-database { background: url('../../images/database.svg') }
.fa.fa-deaf { background: url('../../images/deaf.svg') }
.fa.fa-deafness { background: url('../../images/deafness.svg') }
.fa.fa-dedent { background: url('../../images/dedent.svg') }
.fa.fa-delicious { background: url('../../images/delicious.svg') }
.fa.fa-desktop { background: url('../../images/desktop.svg') }
.fa.fa-deviantart { background: url('../../images/deviantart.svg') }
.fa.fa-diamond { background: url('../../images/diamond.svg') }
.fa.fa-digg { background: url('../../images/digg.svg') }
.fa.fa-dollar { background: url('../../images/dollar.svg') }
.fa.fa-dot-circle-o { background: url('../../images/dot-circle-o.svg') }
.fa.fa-download { background: url('../../images/download.svg') }
.fa.fa-dribbble { background: url('../../images/dribbble.svg') }
.fa.fa-drivers-license { background: url('../../images/drivers-license.svg') }
.fa.fa-drivers-license-o { background: url('../../images/drivers-license-o.svg') }
.fa.fa-dropbox { background: url('../../images/dropbox.svg') }
.fa.fa-drupal { background: url('../../images/drupal.svg') }
.fa.fa-edge { background: url('../../images/edge.svg') }
.fa.fa-edit { background: url('../../images/edit.svg') }
.fa.fa-eercast { background: url('../../images/eercast.svg') }
.fa.fa-eject { background: url('../../images/eject.svg') }
.fa.fa-ellipsis-h { background: url('../../images/ellipsis-h.svg') }
.fa.fa-ellipsis-v { background: url('../../images/ellipsis-v.svg') }
.fa.fa-empire { background: url('../../images/empire.svg') }
.fa.fa-envelope { background: url('../../images/envelope.svg') }
.fa.fa-envelope-o { background: url('../../images/envelope-o.svg') }
.fa.fa-envelope-open { background: url('../../images/envelope-open.svg') }
.fa.fa-envelope-open-o { background: url('../../images/envelope-open-o.svg') }
.fa.fa-envelope-square { background: url('../../images/envelope-square.svg') }
.fa.fa-envira { background: url('../../images/envira.svg') }
.fa.fa-eraser { background: url('../../images/eraser.svg') }
.fa.fa-etsy { background: url('../../images/etsy.svg') }
.fa.fa-eur { background: url('../../images/eur.svg') }
.fa.fa-euro { background: url('../../images/euro.svg') }
.fa.fa-exchange { background: url('../../images/exchange.svg') }
.fa.fa-exclamation { background: url('../../images/exclamation.svg') }
.fa.fa-exclamation-circle { background: url('../../images/exclamation-circle.svg') }
.fa.fa-exclamation-triangle { background: url('../../images/exclamation-triangle.svg') }
.fa.fa-expand { background: url('../../images/expand.svg') }
.fa.fa-expeditedssl { background: url('../../images/expeditedssl.svg') }
.fa.fa-external-link { background: url('../../images/external-link.svg') }
.fa.fa-external-link-square { background: url('../../images/external-link-square.svg') }
.fa.fa-eye { background: url('../../images/eye.svg') }
.fa.fa-eye-slash { background: url('../../images/eye-slash.svg') }
.fa.fa-eyedropper { background: url('../../images/eyedropper.svg') }
.fa.fa-fa { background: url('../../images/fa.svg') }
.fa.fa-facebook { background: url('../../images/facebook.svg') }
.fa.fa-facebook-f { background: url('../../images/facebook-f.svg') }
.fa.fa-facebook-official { background: url('../../images/facebook-official.svg') }
.fa.fa-facebook-square { background: url('../../images/facebook-square.svg') }
.fa.fa-fast-backward { background: url('../../images/fast-backward.svg') }
.fa.fa-fast-forward { background: url('../../images/fast-forward.svg') }
.fa.fa-fax { background: url('../../images/fax.svg') }
.fa.fa-feed { background: url('../../images/feed.svg') }
.fa.fa-female { background: url('../../images/female.svg') }
.fa.fa-fighter-jet { background: url('../../images/fighter-jet.svg') }
.fa.fa-file { background: url('../../images/file.svg') }
.fa.fa-file-archive-o { background: url('../../images/file-archive-o.svg') }
.fa.fa-file-audio-o { background: url('../../images/file-audio-o.svg') }
.fa.fa-file-code-o { background: url('../../images/file-code-o.svg') }
.fa.fa-file-excel-o { background: url('../../images/file-excel-o.svg') }
.fa.fa-file-image-o { background: url('../../images/file-image-o.svg') }
.fa.fa-file-movie-o { background: url('../../images/file-movie-o.svg') }
.fa.fa-file-o { background: url('../../images/file-o.svg') }
.fa.fa-file-pdf-o { background: url('../../images/file-pdf-o.svg') }
.fa.fa-file-photo-o { background: url('../../images/file-photo-o.svg') }
.fa.fa-file-picture-o { background: url('../../images/file-picture-o.svg') }
.fa.fa-file-powerpoint-o { background: url('../../images/file-powerpoint-o.svg') }
.fa.fa-file-sound-o { background: url('../../images/file-sound-o.svg') }
.fa.fa-file-text { background: url('../../images/file-text.svg') }
.fa.fa-file-text-o { background: url('../../images/file-text-o.svg') }
.fa.fa-file-video-o { background: url('../../images/file-video-o.svg') }
.fa.fa-file-word-o { background: url('../../images/file-word-o.svg') }
.fa.fa-file-zip-o { background: url('../../images/file-zip-o.svg') }
.fa.fa-files-o { background: url('../../images/files-o.svg') }
.fa.fa-film { background: url('../../images/film.svg') }
.fa.fa-filter { background: url('../../images/filter.svg') }
.fa.fa-fire { background: url('../../images/fire.svg') }
.fa.fa-fire-extinguisher { background: url('../../images/fire-extinguisher.svg') }
.fa.fa-firefox { background: url('../../images/firefox.svg') }
.fa.fa-first-order { background: url('../../images/first-order.svg') }
.fa.fa-flag { background: url('../../images/flag.svg') }
.fa.fa-flag-checkered { background: url('../../images/flag-checkered.svg') }
.fa.fa-flag-o { background: url('../../images/flag-o.svg') }
.fa.fa-flash { background: url('../../images/flash.svg') }
.fa.fa-flask { background: url('../../images/flask.svg') }
.fa.fa-flickr { background: url('../../images/flickr.svg') }
.fa.fa-floppy-o { background: url('../../images/floppy-o.svg') }
.fa.fa-folder { background: url('../../images/folder.svg') }
.fa.fa-folder-o { background: url('../../images/folder-o.svg') }
.fa.fa-folder-open { background: url('../../images/folder-open.svg') }
.fa.fa-folder-open-o { background: url('../../images/folder-open-o.svg') }
.fa.fa-font { background: url('../../images/font.svg') }
.fa.fa-font-awesome { background: url('../../images/font-awesome.svg') }
.fa.fa-fonticons { background: url('../../images/fonticons.svg') }
.fa.fa-fort-awesome { background: url('../../images/fort-awesome.svg') }
.fa.fa-forumbee { background: url('../../images/forumbee.svg') }
.fa.fa-forward { background: url('../../images/forward.svg') }
.fa.fa-foursquare { background: url('../../images/foursquare.svg') }
.fa.fa-free-code-camp { background: url('../../images/free-code-camp.svg') }
.fa.fa-frown-o { background: url('../../images/frown-o.svg') }
.fa.fa-futbol-o { background: url('../../images/futbol-o.svg') }
.fa.fa-gamepad { background: url('../../images/gamepad.svg') }
.fa.fa-gavel { background: url('../../images/gavel.svg') }
.fa.fa-gbp { background: url('../../images/gbp.svg') }
.fa.fa-ge { background: url('../../images/ge.svg') }
.fa.fa-gear { background: url('../../images/gear.svg') }
.fa.fa-gears { background: url('../../images/gears.svg') }
.fa.fa-genderless { background: url('../../images/genderless.svg') }
.fa.fa-get-pocket { background: url('../../images/get-pocket.svg') }
.fa.fa-gg { background: url('../../images/gg.svg') }
.fa.fa-gg-circle { background: url('../../images/gg-circle.svg') }
.fa.fa-gift { background: url('../../images/gift.svg') }
.fa.fa-git { background: url('../../images/git.svg') }
.fa.fa-git-square { background: url('../../images/git-square.svg') }
.fa.fa-github { background: url('../../images/github.svg') }
.fa.fa-github-alt { background: url('../../images/github-alt.svg') }
.fa.fa-github-square { background: url('../../images/github-square.svg') }
.fa.fa-gitlab { background: url('../../images/gitlab.svg') }
.fa.fa-gittip { background: url('../../images/gittip.svg') }
.fa.fa-glass { background: url('../../images/glass.svg') }
.fa.fa-glide { background: url('../../images/glide.svg') }
.fa.fa-glide-g { background: url('../../images/glide-g.svg') }
.fa.fa-globe { background: url('../../images/globe.svg') }
.fa.fa-google { background: url('../../images/google.svg') }
.fa.fa-google-plus { background: url('../../images/google-plus.svg') }
.fa.fa-google-plus-circle { background: url('../../images/google-plus-circle.svg') }
.fa.fa-google-plus-official { background: url('../../images/google-plus-official.svg') }
.fa.fa-google-plus-square { background: url('../../images/google-plus-square.svg') }
.fa.fa-google-wallet { background: url('../../images/google-wallet.svg') }
.fa.fa-graduation-cap { background: url('../../images/graduation-cap.svg') }
.fa.fa-gratipay { background: url('../../images/gratipay.svg') }
.fa.fa-grav { background: url('../../images/grav.svg') }
.fa.fa-group { background: url('../../images/group.svg') }
.fa.fa-h-square { background: url('../../images/h-square.svg') }
.fa.fa-hacker-news { background: url('../../images/hacker-news.svg') }
.fa.fa-hand-grab-o { background: url('../../images/hand-grab-o.svg') }
.fa.fa-hand-lizard-o { background: url('../../images/hand-lizard-o.svg') }
.fa.fa-hand-o-down { background: url('../../images/hand-o-down.svg') }
.fa.fa-hand-o-left { background: url('../../images/hand-o-left.svg') }
.fa.fa-hand-o-right { background: url('../../images/hand-o-right.svg') }
.fa.fa-hand-o-up { background: url('../../images/hand-o-up.svg') }
.fa.fa-hand-paper-o { background: url('../../images/hand-paper-o.svg') }
.fa.fa-hand-peace-o { background: url('../../images/hand-peace-o.svg') }
.fa.fa-hand-pointer-o { background: url('../../images/hand-pointer-o.svg') }
.fa.fa-hand-rock-o { background: url('../../images/hand-rock-o.svg') }
.fa.fa-hand-scissors-o { background: url('../../images/hand-scissors-o.svg') }
.fa.fa-hand-spock-o { background: url('../../images/hand-spock-o.svg') }
.fa.fa-hand-stop-o { background: url('../../images/hand-stop-o.svg') }
.fa.fa-handshake-o { background: url('../../images/handshake-o.svg') }
.fa.fa-hard-of-hearing { background: url('../../images/hard-of-hearing.svg') }
.fa.fa-hashtag { background: url('../../images/hashtag.svg') }
.fa.fa-hdd-o { background: url('../../images/hdd-o.svg') }
.fa.fa-header { background: url('../../images/header.svg') }
.fa.fa-headphones { background: url('../../images/headphones.svg') }
.fa.fa-heart { background: url('../../images/heart.svg') }
.fa.fa-heart-o { background: url('../../images/heart-o.svg') }
.fa.fa-heartbeat { background: url('../../images/heartbeat.svg') }
.fa.fa-history { background: url('../../images/history.svg') }
.fa.fa-home { background: url('../../images/home.svg') }
.fa.fa-hospital-o { background: url('../../images/hospital-o.svg') }
.fa.fa-hotel { background: url('../../images/hotel.svg') }
.fa.fa-hourglass { background: url('../../images/hourglass.svg') }
.fa.fa-hourglass-1 { background: url('../../images/hourglass-1.svg') }
.fa.fa-hourglass-2 { background: url('../../images/hourglass-2.svg') }
.fa.fa-hourglass-3 { background: url('../../images/hourglass-3.svg') }
.fa.fa-hourglass-end { background: url('../../images/hourglass-end.svg') }
.fa.fa-hourglass-half { background: url('../../images/hourglass-half.svg') }
.fa.fa-hourglass-o { background: url('../../images/hourglass-o.svg') }
.fa.fa-hourglass-start { background: url('../../images/hourglass-start.svg') }
.fa.fa-houzz { background: url('../../images/houzz.svg') }
.fa.fa-html5 { background: url('../../images/html5.svg') }
.fa.fa-i-cursor { background: url('../../images/i-cursor.svg') }
.fa.fa-id-badge { background: url('../../images/id-badge.svg') }
.fa.fa-id-card { background: url('../../images/id-card.svg') }
.fa.fa-id-card-o { background: url('../../images/id-card-o.svg') }
.fa.fa-ils { background: url('../../images/ils.svg') }
.fa.fa-image { background: url('../../images/image.svg') }
.fa.fa-imdb { background: url('../../images/imdb.svg') }
.fa.fa-inbox { background: url('../../images/inbox.svg') }
.fa.fa-indent { background: url('../../images/indent.svg') }
.fa.fa-industry { background: url('../../images/industry.svg') }
.fa.fa-info { background: url('../../images/info.svg') }
.fa.fa-info-circle { background: url('../../images/info-circle.svg') }
.fa.fa-inr { background: url('../../images/inr.svg') }
.fa.fa-instagram { background: url('../../images/instagram.svg') }
.fa.fa-institution { background: url('../../images/institution.svg') }
.fa.fa-internet-explorer { background: url('../../images/internet-explorer.svg') }
.fa.fa-intersex { background: url('../../images/intersex.svg') }
.fa.fa-ioxhost { background: url('../../images/ioxhost.svg') }
.fa.fa-italic { background: url('../../images/italic.svg') }
.fa.fa-joomla { background: url('../../images/joomla.svg') }
.fa.fa-jpy { background: url('../../images/jpy.svg') }
.fa.fa-jsfiddle { background: url('../../images/jsfiddle.svg') }
.fa.fa-key { background: url('../../images/key.svg') }
.fa.fa-keyboard-o { background: url('../../images/keyboard-o.svg') }
.fa.fa-krw { background: url('../../images/krw.svg') }
.fa.fa-language { background: url('../../images/language.svg') }
.fa.fa-laptop { background: url('../../images/laptop.svg') }
.fa.fa-lastfm { background: url('../../images/lastfm.svg') }
.fa.fa-lastfm-square { background: url('../../images/lastfm-square.svg') }
.fa.fa-leaf { background: url('../../images/leaf.svg') }
.fa.fa-leanpub { background: url('../../images/leanpub.svg') }
.fa.fa-legal { background: url('../../images/legal.svg') }
.fa.fa-lemon-o { background: url('../../images/lemon-o.svg') }
.fa.fa-level-down { background: url('../../images/level-down.svg') }
.fa.fa-level-up { background: url('../../images/level-up.svg') }
.fa.fa-life-bouy { background: url('../../images/life-bouy.svg') }
.fa.fa-life-buoy { background: url('../../images/life-buoy.svg') }
.fa.fa-life-ring { background: url('../../images/life-ring.svg') }
.fa.fa-life-saver { background: url('../../images/life-saver.svg') }
.fa.fa-lightbulb-o { background: url('../../images/lightbulb-o.svg') }
.fa.fa-line-chart { background: url('../../images/line-chart.svg') }
.fa.fa-link { background: url('../../images/link.svg') }
.fa.fa-linkedin { background: url('../../images/linkedin.svg') }
.fa.fa-linkedin-square { background: url('../../images/linkedin-square.svg') }
.fa.fa-linode { background: url('../../images/linode.svg') }
.fa.fa-linux { background: url('../../images/linux.svg') }
.fa.fa-list { background: url('../../images/list.svg') }
.fa.fa-list-alt { background: url('../../images/list-alt.svg') }
.fa.fa-list-ol { background: url('../../images/list-ol.svg') }
.fa.fa-list-ul { background: url('../../images/list-ul.svg') }
.fa.fa-location-arrow { background: url('../../images/location-arrow.svg') }
.fa.fa-lock { background: url('../../images/lock.svg') }
.fa.fa-long-arrow-down { background: url('../../images/long-arrow-down.svg') }
.fa.fa-long-arrow-left { background: url('../../images/long-arrow-left.svg') }
.fa.fa-long-arrow-right { background: url('../../images/long-arrow-right.svg') }
.fa.fa-long-arrow-up { background: url('../../images/long-arrow-up.svg') }
.fa.fa-low-vision { background: url('../../images/low-vision.svg') }
.fa.fa-magic { background: url('../../images/magic.svg') }
.fa.fa-magnet { background: url('../../images/magnet.svg') }
.fa.fa-mail-forward { background: url('../../images/mail-forward.svg') }
.fa.fa-mail-reply { background: url('../../images/mail-reply.svg') }
.fa.fa-mail-reply-all { background: url('../../images/mail-reply-all.svg') }
.fa.fa-male { background: url('../../images/male.svg') }
.fa.fa-map { background: url('../../images/map.svg') }
.fa.fa-map-marker { background: url('../../images/map-marker.svg') }
.fa.fa-map-o { background: url('../../images/map-o.svg') }
.fa.fa-map-pin { background: url('../../images/map-pin.svg') }
.fa.fa-map-signs { background: url('../../images/map-signs.svg') }
.fa.fa-mars { background: url('../../images/mars.svg') }
.fa.fa-mars-double { background: url('../../images/mars-double.svg') }
.fa.fa-mars-stroke { background: url('../../images/mars-stroke.svg') }
.fa.fa-mars-stroke-h { background: url('../../images/mars-stroke-h.svg') }
.fa.fa-mars-stroke-v { background: url('../../images/mars-stroke-v.svg') }
.fa.fa-maxcdn { background: url('../../images/maxcdn.svg') }
.fa.fa-meanpath { background: url('../../images/meanpath.svg') }
.fa.fa-medium { background: url('../../images/medium.svg') }
.fa.fa-medkit { background: url('../../images/medkit.svg') }
.fa.fa-meetup { background: url('../../images/meetup.svg') }
.fa.fa-meh-o { background: url('../../images/meh-o.svg') }
.fa.fa-mercury { background: url('../../images/mercury.svg') }
.fa.fa-microchip { background: url('../../images/microchip.svg') }
.fa.fa-microphone { background: url('../../images/microphone.svg') }
.fa.fa-microphone-slash { background: url('../../images/microphone-slash.svg') }
.fa.fa-minus { background: url('../../images/minus.svg') }
.fa.fa-minus-circle { background: url('../../images/minus-circle.svg') }
.fa.fa-minus-square { background: url('../../images/minus-square.svg') }
.fa.fa-minus-square-o { background: url('../../images/minus-square-o.svg') }
.fa.fa-mixcloud { background: url('../../images/mixcloud.svg') }
.fa.fa-mobile { background: url('../../images/mobile.svg') }
.fa.fa-mobile-phone { background: url('../../images/mobile-phone.svg') }
.fa.fa-modx { background: url('../../images/modx.svg') }
.fa.fa-money { background: url('../../images/money.svg') }
.fa.fa-moon-o { background: url('../../images/moon-o.svg') }
.fa.fa-mortar-board { background: url('../../images/mortar-board.svg') }
.fa.fa-motorcycle { background: url('../../images/motorcycle.svg') }
.fa.fa-mouse-pointer { background: url('../../images/mouse-pointer.svg') }
.fa.fa-music { background: url('../../images/music.svg') }
.fa.fa-navicon { background: url('../../images/navicon.svg') }
.fa.fa-neuter { background: url('../../images/neuter.svg') }
.fa.fa-newspaper-o { background: url('../../images/newspaper-o.svg') }
.fa.fa-object-group { background: url('../../images/object-group.svg') }
.fa.fa-object-ungroup { background: url('../../images/object-ungroup.svg') }
.fa.fa-odnoklassniki { background: url('../../images/odnoklassniki.svg') }
.fa.fa-odnoklassniki-square { background: url('../../images/odnoklassniki-square.svg') }
.fa.fa-opencart { background: url('../../images/opencart.svg') }
.fa.fa-openid { background: url('../../images/openid.svg') }
.fa.fa-opera { background: url('../../images/opera.svg') }
.fa.fa-optin-monster { background: url('../../images/optin-monster.svg') }
.fa.fa-outdent { background: url('../../images/outdent.svg') }
.fa.fa-pagelines { background: url('../../images/pagelines.svg') }
.fa.fa-paint-brush { background: url('../../images/paint-brush.svg') }
.fa.fa-paper-plane { background: url('../../images/paper-plane.svg') }
.fa.fa-paper-plane-o { background: url('../../images/paper-plane-o.svg') }
.fa.fa-paperclip { background: url('../../images/paperclip.svg') }
.fa.fa-paragraph { background: url('../../images/paragraph.svg') }
.fa.fa-paste { background: url('../../images/paste.svg') }
.fa.fa-pause { background: url('../../images/pause.svg') }
.fa.fa-pause-circle { background: url('../../images/pause-circle.svg') }
.fa.fa-pause-circle-o { background: url('../../images/pause-circle-o.svg') }
.fa.fa-paw { background: url('../../images/paw.svg') }
.fa.fa-paypal { background: url('../../images/paypal.svg') }
.fa.fa-pencil { background: url('../../images/pencil.svg') }
.fa.fa-pencil-square { background: url('../../images/pencil-square.svg') }
.fa.fa-pencil-square-o { background: url('../../images/pencil-square-o.svg') }
.fa.fa-percent { background: url('../../images/percent.svg') }
.fa.fa-phone { background: url('../../images/phone.svg') }
.fa.fa-phone-square { background: url('../../images/phone-square.svg') }
.fa.fa-photo { background: url('../../images/photo.svg') }
.fa.fa-picture-o { background: url('../../images/picture-o.svg') }
.fa.fa-pie-chart { background: url('../../images/pie-chart.svg') }
.fa.fa-pied-piper { background: url('../../images/pied-piper.svg') }
.fa.fa-pied-piper-alt { background: url('../../images/pied-piper-alt.svg') }
.fa.fa-pied-piper-pp { background: url('../../images/pied-piper-pp.svg') }
.fa.fa-pinterest { background: url('../../images/pinterest.svg') }
.fa.fa-pinterest-p { background: url('../../images/pinterest-p.svg') }
.fa.fa-pinterest-square { background: url('../../images/pinterest-square.svg') }
.fa.fa-plane { background: url('../../images/plane.svg') }
.fa.fa-play { background: url('../../images/play.svg') }
.fa.fa-play-circle { background: url('../../images/play-circle.svg') }
.fa.fa-play-circle-o { background: url('../../images/play-circle-o.svg') }
.fa.fa-plug { background: url('../../images/plug.svg') }
.fa.fa-plus { background: url('../../images/plus.svg') }
.fa.fa-plus-circle { background: url('../../images/plus-circle.svg') }
.fa.fa-plus-square { background: url('../../images/plus-square.svg') }
.fa.fa-plus-square-o { background: url('../../images/plus-square-o.svg') }
.fa.fa-podcast { background: url('../../images/podcast.svg') }
.fa.fa-power-off { background: url('../../images/power-off.svg') }
.fa.fa-print { background: url('../../images/print.svg') }
.fa.fa-product-hunt { background: url('../../images/product-hunt.svg') }
.fa.fa-puzzle-piece { background: url('../../images/puzzle-piece.svg') }
.fa.fa-qq { background: url('../../images/qq.svg') }
.fa.fa-qrcode { background: url('../../images/qrcode.svg') }
.fa.fa-question { background: url('../../images/question.svg') }
.fa.fa-question-circle { background: url('../../images/question-circle.svg') }
.fa.fa-question-circle-o { background: url('../../images/question-circle-o.svg') }
.fa.fa-quora { background: url('../../images/quora.svg') }
.fa.fa-quote-left { background: url('../../images/quote-left.svg') }
.fa.fa-quote-right { background: url('../../images/quote-right.svg') }
.fa.fa-ra { background: url('../../images/ra.svg') }
.fa.fa-random { background: url('../../images/random.svg') }
.fa.fa-ravelry { background: url('../../images/ravelry.svg') }
.fa.fa-rebel { background: url('../../images/rebel.svg') }
.fa.fa-recycle { background: url('../../images/recycle.svg') }
.fa.fa-reddit { background: url('../../images/reddit.svg') }
.fa.fa-reddit-alien { background: url('../../images/reddit-alien.svg') }
.fa.fa-reddit-square { background: url('../../images/reddit-square.svg') }
.fa.fa-refresh { background: url('../../images/refresh.svg') }
.fa.fa-registered { background: url('../../images/registered.svg') }
.fa.fa-remove { background: url('../../images/remove.svg') }
.fa.fa-renren { background: url('../../images/renren.svg') }
.fa.fa-reorder { background: url('../../images/reorder.svg') }
.fa.fa-repeat { background: url('../../images/repeat.svg') }
.fa.fa-reply { background: url('../../images/reply.svg') }
.fa.fa-reply-all { background: url('../../images/reply-all.svg') }
.fa.fa-resistance { background: url('../../images/resistance.svg') }
.fa.fa-retweet { background: url('../../images/retweet.svg') }
.fa.fa-rmb { background: url('../../images/rmb.svg') }
.fa.fa-road { background: url('../../images/road.svg') }
.fa.fa-rocket { background: url('../../images/rocket.svg') }
.fa.fa-rotate-left { background: url('../../images/rotate-left.svg') }
.fa.fa-rotate-right { background: url('../../images/rotate-right.svg') }
.fa.fa-rouble { background: url('../../images/rouble.svg') }
.fa.fa-rss { background: url('../../images/rss.svg') }
.fa.fa-rss-square { background: url('../../images/rss-square.svg') }
.fa.fa-rub { background: url('../../images/rub.svg') }
.fa.fa-ruble { background: url('../../images/ruble.svg') }
.fa.fa-rupee { background: url('../../images/rupee.svg') }
.fa.fa-s15 { background: url('../../images/s15.svg') }
.fa.fa-safari { background: url('../../images/safari.svg') }
.fa.fa-save { background: url('../../images/save.svg') }
.fa.fa-scissors { background: url('../../images/scissors.svg') }
.fa.fa-scribd { background: url('../../images/scribd.svg') }
.fa.fa-search { background: url('../../images/search.svg') }
.fa.fa-search-minus { background: url('../../images/search-minus.svg') }
.fa.fa-search-plus { background: url('../../images/search-plus.svg') }
.fa.fa-sellsy { background: url('../../images/sellsy.svg') }
.fa.fa-send { background: url('../../images/send.svg') }
.fa.fa-send-o { background: url('../../images/send-o.svg') }
.fa.fa-server { background: url('../../images/server.svg') }
.fa.fa-share { background: url('../../images/share.svg') }
.fa.fa-share-alt { background: url('../../images/share-alt.svg') }
.fa.fa-share-alt-square { background: url('../../images/share-alt-square.svg') }
.fa.fa-share-square { background: url('../../images/share-square.svg') }
.fa.fa-share-square-o { background: url('../../images/share-square-o.svg') }
.fa.fa-shekel { background: url('../../images/shekel.svg') }
.fa.fa-sheqel { background: url('../../images/sheqel.svg') }
.fa.fa-shield { background: url('../../images/shield.svg') }
.fa.fa-ship { background: url('../../images/ship.svg') }
.fa.fa-shirtsinbulk { background: url('../../images/shirtsinbulk.svg') }
.fa.fa-shopping-bag { background: url('../../images/shopping-bag.svg') }
.fa.fa-shopping-basket { background: url('../../images/shopping-basket.svg') }
.fa.fa-shopping-cart { background: url('../../images/shopping-cart.svg') }
.fa.fa-shower { background: url('../../images/shower.svg') }
.fa.fa-sign-in { background: url('../../images/sign-in.svg') }
.fa.fa-sign-language { background: url('../../images/sign-language.svg') }
.fa.fa-sign-out { background: url('../../images/sign-out.svg') }
.fa.fa-signal { background: url('../../images/signal.svg') }
.fa.fa-signing { background: url('../../images/signing.svg') }
.fa.fa-simplybuilt { background: url('../../images/simplybuilt.svg') }
.fa.fa-sitemap { background: url('../../images/sitemap.svg') }
.fa.fa-skyatlas { background: url('../../images/skyatlas.svg') }
.fa.fa-skype { background: url('../../images/skype.svg') }
.fa.fa-slack { background: url('../../images/slack.svg') }
.fa.fa-sliders { background: url('../../images/sliders.svg') }
.fa.fa-slideshare { background: url('../../images/slideshare.svg') }
.fa.fa-smile-o { background: url('../../images/smile-o.svg') }
.fa.fa-snapchat { background: url('../../images/snapchat.svg') }
.fa.fa-snapchat-ghost { background: url('../../images/snapchat-ghost.svg') }
.fa.fa-snapchat-square { background: url('../../images/snapchat-square.svg') }
.fa.fa-snowflake-o { background: url('../../images/snowflake-o.svg') }
.fa.fa-soccer-ball-o { background: url('../../images/soccer-ball-o.svg') }
.fa.fa-sort { background: url('../../images/sort.svg') }
.fa.fa-sort-alpha-asc { background: url('../../images/sort-alpha-asc.svg') }
.fa.fa-sort-alpha-desc { background: url('../../images/sort-alpha-desc.svg') }
.fa.fa-sort-amount-asc { background: url('../../images/sort-amount-asc.svg') }
.fa.fa-sort-amount-desc { background: url('../../images/sort-amount-desc.svg') }
.fa.fa-sort-asc { background: url('../../images/sort-asc.svg') }
.fa.fa-sort-desc { background: url('../../images/sort-desc.svg') }
.fa.fa-sort-down { background: url('../../images/sort-down.svg') }
.fa.fa-sort-numeric-asc { background: url('../../images/sort-numeric-asc.svg') }
.fa.fa-sort-numeric-desc { background: url('../../images/sort-numeric-desc.svg') }
.fa.fa-sort-up { background: url('../../images/sort-up.svg') }
.fa.fa-soundcloud { background: url('../../images/soundcloud.svg') }
.fa.fa-space-shuttle { background: url('../../images/space-shuttle.svg') }
.fa.fa-spinner { background: url('../../images/spinner.svg') }
.fa.fa-spoon { background: url('../../images/spoon.svg') }
.fa.fa-spotify { background: url('../../images/spotify.svg') }
.fa.fa-square { background: url('../../images/square.svg') }
.fa.fa-square-o { background: url('../../images/square-o.svg') }
.fa.fa-stack-exchange { background: url('../../images/stack-exchange.svg') }
.fa.fa-stack-overflow { background: url('../../images/stack-overflow.svg') }
.fa.fa-star { background: url('../../images/star.svg') }
.fa.fa-star-half { background: url('../../images/star-half.svg') }
.fa.fa-star-half-empty { background: url('../../images/star-half-empty.svg') }
.fa.fa-star-half-full { background: url('../../images/star-half-full.svg') }
.fa.fa-star-half-o { background: url('../../images/star-half-o.svg') }
.fa.fa-star-o { background: url('../../images/star-o.svg') }
.fa.fa-steam { background: url('../../images/steam.svg') }
.fa.fa-steam-square { background: url('../../images/steam-square.svg') }
.fa.fa-step-backward { background: url('../../images/step-backward.svg') }
.fa.fa-step-forward { background: url('../../images/step-forward.svg') }
.fa.fa-stethoscope { background: url('../../images/stethoscope.svg') }
.fa.fa-sticky-note { background: url('../../images/sticky-note.svg') }
.fa.fa-sticky-note-o { background: url('../../images/sticky-note-o.svg') }
.fa.fa-stop { background: url('../../images/stop.svg') }
.fa.fa-stop-circle { background: url('../../images/stop-circle.svg') }
.fa.fa-stop-circle-o { background: url('../../images/stop-circle-o.svg') }
.fa.fa-street-view { background: url('../../images/street-view.svg') }
.fa.fa-strikethrough { background: url('../../images/strikethrough.svg') }
.fa.fa-stumbleupon { background: url('../../images/stumbleupon.svg') }
.fa.fa-stumbleupon-circle { background: url('../../images/stumbleupon-circle.svg') }
.fa.fa-subscript { background: url('../../images/subscript.svg') }
.fa.fa-subway { background: url('../../images/subway.svg') }
.fa.fa-suitcase { background: url('../../images/suitcase.svg') }
.fa.fa-sun-o { background: url('../../images/sun-o.svg') }
.fa.fa-superpowers { background: url('../../images/superpowers.svg') }
.fa.fa-superscript { background: url('../../images/superscript.svg') }
.fa.fa-support { background: url('../../images/support.svg') }
.fa.fa-table { background: url('../../images/table.svg') }
.fa.fa-tablet { background: url('../../images/tablet.svg') }
.fa.fa-tachometer { background: url('../../images/tachometer.svg') }
.fa.fa-tag { background: url('../../images/tag.svg') }
.fa.fa-tags { background: url('../../images/tags.svg') }
.fa.fa-tasks { background: url('../../images/tasks.svg') }
.fa.fa-taxi { background: url('../../images/taxi.svg') }
.fa.fa-telegram { background: url('../../images/telegram.svg') }
.fa.fa-television { background: url('../../images/television.svg') }
.fa.fa-tencent-weibo { background: url('../../images/tencent-weibo.svg') }
.fa.fa-terminal { background: url('../../images/terminal.svg') }
.fa.fa-text-height { background: url('../../images/text-height.svg') }
.fa.fa-text-width { background: url('../../images/text-width.svg') }
.fa.fa-th { background: url('../../images/th.svg') }
.fa.fa-th-large { background: url('../../images/th-large.svg') }
.fa.fa-th-list { background: url('../../images/th-list.svg') }
.fa.fa-themeisle { background: url('../../images/themeisle.svg') }
.fa.fa-thermometer { background: url('../../images/thermometer.svg') }
.fa.fa-thermometer-0 { background: url('../../images/thermometer-0.svg') }
.fa.fa-thermometer-1 { background: url('../../images/thermometer-1.svg') }
.fa.fa-thermometer-2 { background: url('../../images/thermometer-2.svg') }
.fa.fa-thermometer-3 { background: url('../../images/thermometer-3.svg') }
.fa.fa-thermometer-4 { background: url('../../images/thermometer-4.svg') }
.fa.fa-thermometer-empty { background: url('../../images/thermometer-empty.svg') }
.fa.fa-thermometer-full { background: url('../../images/thermometer-full.svg') }
.fa.fa-thermometer-half { background: url('../../images/thermometer-half.svg') }
.fa.fa-thermometer-quarter { background: url('../../images/thermometer-quarter.svg') }
.fa.fa-thermometer-three-quarters { background: url('../../images/thermometer-three-quarters.svg') }
.fa.fa-thumb-tack { background: url('../../images/thumb-tack.svg') }
.fa.fa-thumbs-down { background: url('../../images/thumbs-down.svg') }
.fa.fa-thumbs-o-down { background: url('../../images/thumbs-o-down.svg') }
.fa.fa-thumbs-o-up { background: url('../../images/thumbs-o-up.svg') }
.fa.fa-thumbs-up { background: url('../../images/thumbs-up.svg') }
.fa.fa-ticket { background: url('../../images/ticket.svg') }
.fa.fa-times { background: url('../../images/times.svg') }
.fa.fa-times-circle { background: url('../../images/times-circle.svg') }
.fa.fa-times-circle-o { background: url('../../images/times-circle-o.svg') }
.fa.fa-times-rectangle { background: url('../../images/times-rectangle.svg') }
.fa.fa-times-rectangle-o { background: url('../../images/times-rectangle-o.svg') }
.fa.fa-tint { background: url('../../images/tint.svg') }
.fa.fa-toggle-down { background: url('../../images/toggle-down.svg') }
.fa.fa-toggle-left { background: url('../../images/toggle-left.svg') }
.fa.fa-toggle-off { background: url('../../images/toggle-off.svg') }
.fa.fa-toggle-on { background: url('../../images/toggle-on.svg') }
.fa.fa-toggle-right { background: url('../../images/toggle-right.svg') }
.fa.fa-toggle-up { background: url('../../images/toggle-up.svg') }
.fa.fa-trademark { background: url('../../images/trademark.svg') }
.fa.fa-train { background: url('../../images/train.svg') }
.fa.fa-transgender { background: url('../../images/transgender.svg') }
.fa.fa-transgender-alt { background: url('../../images/transgender-alt.svg') }
.fa.fa-trash { background: url('../../images/trash.svg') }
.fa.fa-trash-o { background: url('../../images/trash-o.svg') }
.fa.fa-tree { background: url('../../images/tree.svg') }
.fa.fa-trello { background: url('../../images/trello.svg') }
.fa.fa-tripadvisor { background: url('../../images/tripadvisor.svg') }
.fa.fa-trophy { background: url('../../images/trophy.svg') }
.fa.fa-truck { background: url('../../images/truck.svg') }
.fa.fa-try { background: url('../../images/try.svg') }
.fa.fa-tty { background: url('../../images/tty.svg') }
.fa.fa-tumblr { background: url('../../images/tumblr.svg') }
.fa.fa-tumblr-square { background: url('../../images/tumblr-square.svg') }
.fa.fa-turkish-lira { background: url('../../images/turkish-lira.svg') }
.fa.fa-tv { background: url('../../images/tv.svg') }
.fa.fa-twitch { background: url('../../images/twitch.svg') }
.fa.fa-twitter { background: url('../../images/twitter.svg') }
.fa.fa-twitter-square { background: url('../../images/twitter-square.svg') }
.fa.fa-umbrella { background: url('../../images/umbrella.svg') }
.fa.fa-underline { background: url('../../images/underline.svg') }
.fa.fa-undo { background: url('../../images/undo.svg') }
.fa.fa-universal-access { background: url('../../images/universal-access.svg') }
.fa.fa-university { background: url('../../images/university.svg') }
.fa.fa-unlink { background: url('../../images/unlink.svg') }
.fa.fa-unlock { background: url('../../images/unlock.svg') }
.fa.fa-unlock-alt { background: url('../../images/unlock-alt.svg') }
.fa.fa-unsorted { background: url('../../images/unsorted.svg') }
.fa.fa-upload { background: url('../../images/upload.svg') }
.fa.fa-usb { background: url('../../images/usb.svg') }
.fa.fa-usd { background: url('../../images/usd.svg') }
.fa.fa-user { background: url('../../images/user.svg') }
.fa.fa-user-circle { background: url('../../images/user-circle.svg') }
.fa.fa-user-circle-o { background: url('../../images/user-circle-o.svg') }
.fa.fa-user-md { background: url('../../images/user-md.svg') }
.fa.fa-user-o { background: url('../../images/user-o.svg') }
.fa.fa-user-plus { background: url('../../images/user-plus.svg') }
.fa.fa-user-secret { background: url('../../images/user-secret.svg') }
.fa.fa-user-times { background: url('../../images/user-times.svg') }
.fa.fa-users { background: url('../../images/users.svg') }
.fa.fa-vcard { background: url('../../images/vcard.svg') }
.fa.fa-vcard-o { background: url('../../images/vcard-o.svg') }
.fa.fa-venus { background: url('../../images/venus.svg') }
.fa.fa-venus-double { background: url('../../images/venus-double.svg') }
.fa.fa-venus-mars { background: url('../../images/venus-mars.svg') }
.fa.fa-viacoin { background: url('../../images/viacoin.svg') }
.fa.fa-viadeo { background: url('../../images/viadeo.svg') }
.fa.fa-viadeo-square { background: url('../../images/viadeo-square.svg') }
.fa.fa-video-camera { background: url('../../images/video-camera.svg') }
.fa.fa-vimeo { background: url('../../images/vimeo.svg') }
.fa.fa-vimeo-square { background: url('../../images/vimeo-square.svg') }
.fa.fa-vine { background: url('../../images/vine.svg') }
.fa.fa-vk { background: url('../../images/vk.svg') }
.fa.fa-volume-control-phone { background: url('../../images/volume-control-phone.svg') }
.fa.fa-volume-down { background: url('../../images/volume-down.svg') }
.fa.fa-volume-off { background: url('../../images/volume-off.svg') }
.fa.fa-volume-up { background: url('../../images/volume-up.svg') }
.fa.fa-warning { background: url('../../images/warning.svg') }
.fa.fa-wechat { background: url('../../images/wechat.svg') }
.fa.fa-weibo { background: url('../../images/weibo.svg') }
.fa.fa-weixin { background: url('../../images/weixin.svg') }
.fa.fa-whatsapp { background: url('../../images/whatsapp.svg') }
.fa.fa-wheelchair { background: url('../../images/wheelchair.svg') }
.fa.fa-wheelchair-alt { background: url('../../images/wheelchair-alt.svg') }
.fa.fa-wifi { background: url('../../images/wifi.svg') }
.fa.fa-wikipedia-w { background: url('../../images/wikipedia-w.svg') }
.fa.fa-window-close { background: url('../../images/window-close.svg') }
.fa.fa-window-close-o { background: url('../../images/window-close-o.svg') }
.fa.fa-window-maximize { background: url('../../images/window-maximize.svg') }
.fa.fa-window-minimize { background: url('../../images/window-minimize.svg') }
.fa.fa-window-restore { background: url('../../images/window-restore.svg') }
.fa.fa-windows { background: url('../../images/windows.svg') }
.fa.fa-won { background: url('../../images/won.svg') }
.fa.fa-wordpress { background: url('../../images/wordpress.svg') }
.fa.fa-wpbeginner { background: url('../../images/wpbeginner.svg') }
.fa.fa-wpexplorer { background: url('../../images/wpexplorer.svg') }
.fa.fa-wpforms { background: url('../../images/wpforms.svg') }
.fa.fa-wrench { background: url('../../images/wrench.svg') }
.fa.fa-xing { background: url('../../images/xing.svg') }
.fa.fa-xing-square { background: url('../../images/xing-square.svg') }
.fa.fa-y-combinator { background: url('../../images/y-combinator.svg') }
.fa.fa-y-combinator-square { background: url('../../images/y-combinator-square.svg') }
.fa.fa-yahoo { background: url('../../images/yahoo.svg') }
.fa.fa-yc { background: url('../../images/yc.svg') }
.fa.fa-yc-square { background: url('../../images/yc-square.svg') }
.fa.fa-yelp { background: url('../../images/yelp.svg') }
.fa.fa-yen { background: url('../../images/yen.svg') }
.fa.fa-yoast { background: url('../../images/yoast.svg') }
.fa.fa-youtube { background: url('../../images/youtube.svg') }
.fa.fa-youtube-play { background: url('../../images/youtube-play.svg') }
.fa.fa-youtube-square { background: url('../../images/youtube-square.svg') }